<h1 class="display-4">
    {{message}}
</h1>
<div class="d-flex flex-column justify-content-center">
    <div id="scrollableContainer" class="overflow-auto">
        <ul class="list-group">
            {{#each producs}}
                <li class="list-group-item">{{>contact}}</li>
            {{/each}}
        </ul>
    </div>
    <form class="form d-flex">
        <div class="m-3">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" required name="name" placeholder="Name">
        </div>
        <div class="m-3">
            <label for="phone">Phone</label>
            <input id="phone" class="form-control" type="tel" required name="phone" placeholder="Phone">
        </div>
    </form>
    <div class="controls-wrapper d-flex justify-content-between">
        <div class="form-part control m-3 w30">
            <button class="btn btn-primary" onclick="addContact()">Добавить</button>
        </div>
        <div class="form-part control m-3 w30">
            {{{cancelButton}}}
        </div>
    </div>
</div>


