@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Rubik+Gemstones&family=Yatra+One&display=swap');
* {
    font-family: "Yatra One", system-ui !important;
    font-weight: 400 !important;
    font-style: normal !important;
}